/*顶部*/
.header {
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #e3e4e5;
}

.header-box {
    width: 1210px;
    margin: 0 auto;
}
.header-box a {
    color: #000;
}

.header-box a:hover {
    color: red;
}
.header-left {
    float: left;
    font-size: 12px;
    color: #666;
    height: 30px;
}

.header-left li {
    padding: 0 24px 0 10px;
    position: relative;
}

.header-right {
    float: right;
}

.header-right li {
    float: left;
    padding: 0 2px;
    font-size: 12px;
    height: 30px;
    padding: 0 24px 0 10px;
    position: relative;
}

.header-right .line {
    width: 1px;
    height: 12px;
    margin-top: 9px;
    background: #999;
    padding: 0;
}

.ci-right {
    font: 400 15px/15px consolas;/*字体宽度、大小、行高、字体格式缩写*/
    height: 7px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    right: 5px;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
    color: #6a6a6a;
    -moz-transition: -moz-transform .1s ease-in 0s;
    color: #6a6a6a;
}

.header li:hover .ci-right {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.my1 {
    width: 130px;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    left: -1px;
    top: 30px;
    display: none;
    text-align: center;
}

.my1 a {
    display: block;
    cursor: pointer;

}
.my:hover .my1 {
    display: block;
    background: #fff;
}

.bj-1, .my1, .dorpdown-layer {
    z-index: 100;
}
